.profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;    
    border-radius: 0.5rem;

}
  
.profileImage {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
  
.profileCenter {
    flex-grow: 1;
    margin: 0 1.5rem;
}
  
.profileName {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
}
  
.profileBio {
    font-size: 1.2rem;
    margin: 0;
}
  
.profileRight {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
  
.profileButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #2d3748;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.profileButton:hover {
    background-color: #4a5568;
}
  
.profileButton span {
    text-transform: uppercase;
}
  