.card {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);    
    height: auto;
    transition: all 0.3s ease;
    background-color: #fff;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.userInfo::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;    
}

.userInfo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
}

.userInfo span {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
}

.userInfo d {
    padding-left: 30px;
}

.userText {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-grow: 1;
}

.userInfoButton button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.userInfoButton button:hover {
    background-color: #0069d9;
}

.userInfoButton button:active {
    background-color: #005cbf;
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
  
.content {
    width: 50%;
}
  
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.header h1 {
    padding-top: 20px;
    color: rgb(111, 43, 107);
}

.actions {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.actions span {
    font-size: 25px;
    color: grey;
}
  
.image img {
    width: 100%;
    margin-bottom: 1rem;    
    border-radius: 10px;
}
  
.content ul {
    margin: 0;
    padding: 0;
}
  
.content li {
    list-style: none;
    margin-bottom: 0.5rem;
    padding-left: 20px;
}

.content li::before {
    content: "✔";
    color: #666;
    display: inline-block;
    padding-right: 10px;
    width: 1em;
    margin-left: -1em;
}
  
  
@media (max-width: 768px) {
.container {
    display: flex;
    flex-direction: column;
}

.left, .content {
    width: 100%;
    padding: 0;
}

.left {
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header div {
    text-align: center;
    margin-bottom: 10px;
}

.header div p {
    margin: 0;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
}
}
  